{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if projects %}
        <table class="uk-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="/project/{{ project.id }}">{{ project.name }}</a></td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        There aren't any :(
    {% endif %}
{% endblock %}